*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #06060C;
}

li{
    list-style: none;
    font-weight: 600;
}

main{
    height: 100vh;
    background-image: linear-gradient(#1A1A2E, #06060C);
}

.icon{
    height: 1.5rem;
}

.navbar{
    width: 70vw;
    margin: auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar i img{
    height: 1.2rem;
}

.navbar .nav-buttons{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
}

.navbar .nav-buttons a{
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-weight: 400;
    font-size: .8rem;
}

.navbar .nav-buttons a:hover{
    color: #FDDB3A;
}

.navbar .nav-buttons a:last-of-type{
    display: flex;
    align-items: center;
    color: #FDDB3A;
    border:2px solid #FDDB3A;
    padding: 10px 20px;
    border-radius: 50px;
}

.navbar .nav-buttons a:last-of-type:hover{
    color:#06060C;
    background-color: #FDDB3A;
}

.header-container{
    height: 70vh;
    width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .header-content{
    width: 50%;
    color: white;
}

.header-container .header-content span{
    color: #FDDB3A;
}

.header-container .header-content blockquote{
    border-top: .5px solid rgba(255, 255, 255, 0.5);
    padding-top: 16px;
}

.header-container .header-content h1{
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.header-container .header-content h3{
    font-weight: 400;
}

.header-container .header-content p{
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.header-container a, .projects-section a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: white;
    margin-right: 20%;
}


.header-container a .icon, .projects-section a .icon{
    margin-left: 16px;
    background-color: #FDDB3A;
    width: 54px;
    height: 54px;
    padding: 16px;
    border-radius: 50px;
    transition: .5s;
}

.active-button{
    transform: scale(1.1);
}

.skills-section li{
    font-size: 1rem;
    margin-bottom: 2rem;
}

.skills-section h2, .projects-section h2, .about-section h2{
    font-size: 1.3rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}

.skills-section span, .projects-section span, .about-section span{
    color: #FDDB3A;
}

.skills{
    display: flex;
    justify-content: space-evenly;
}
.skills{
    height: 80vh;
    background-color: #06060C;
    color: white;
    display: flex;
}


.projects-section{
    width: 100vw;
}

.projects-section .project{
    background-color:gray;
    width: 80vw;
    min-height: 500px;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    padding: 2rem;
}

.projects-section .project .project-info{
    height: 70%;
    width: 70%;
}


.projects-section .project .project-info .project-title{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.projects-section .project .project-info .project-category , h4{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-top: 2rem;
}


.projects-section .project .project-info p{
    margin-top: 1.5rem;
    width: 80%;
}

.projects-section .project .project-info ul{
    margin-top: 1rem;
    display: flex;
}

.projects-section .project .project-info li{
    font-size: .8rem;
    color: #1A1A2E;
    background-color: #FDDB3A;
    padding: 6px 18px;
    border-radius: 50px;
    margin-right: 1rem;
}

.projects-section a{
    margin-right: 0;
}

.greenly{
    background-image: linear-gradient(#1a1a2ea8, #06060c5e), url("../assets/greenly-bg.png");
}


.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section .about-info{
    width: 50vw;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin: auto;
}

.about-section .bio{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 300;
    width: 70%;
    line-height: 1.4rem;
    letter-spacing: 2px;
}

.about-section .contact-message{
    text-align: left;
    color: white;
    width: 50vw;
    font-weight: 300;
    font-size: 1rem;
    margin: auto;
}

.about-section h4{
    color: white;
    font-weight: 600;
    margin-bottom: 2rem;
}

#avatar{
    height: 10rem;
    padding: 8px;
    border: 4px solid #FDDB3A;
    border-radius: 50%;
    transition:  all .5s;
}


#avatar:hover{
    transform: scale(1.1);
    padding: 12px;
}



.footer{
    background-color: #FDDB3A;
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
    padding: 1rem;
}

@media (max-width: 1000px){
    .navbar .nav-buttons{
        display: none;
    }

    .header-container{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .header-container .header-content{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .header-container a{
        margin-right: 0;
    }
    
    .header-container .header-content h1, h3, p{
        text-align: center;
    }

    /*Projects section*/
    .projects-section .project{
       
        width: 90vw;
        justify-content: space-evenly;
        margin-bottom: 4rem;
        flex-direction: column;
    }

    .projects-section .project .project-info{
        height: 70%;
        width: 100%;
        text-align: center;
    }

    .projects-section .project .project-info p{
        margin-top: 2rem;
        width: 100%;
        margin: auto;
        text-align: left;
    }
    
    
    .projects-section .project .project-info ul{
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .projects-section .project .project-info li{
        margin-top: 1rem;
    }
}

@media (max-width: 600px){
    body{
        font-size: 14px;
    }
    .navbar .nav-buttons{
        display: none;
    }

    .header-container{
        width: 90vw;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .header-container .header-content{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .header-container a{
        margin-right: 0;
    }
    
    .header-container .header-content h1, h3, p{
        text-align: center;
    }


    .about-section .about-info{
        width: 100vw;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        margin: auto;
        justify-content: center;
    }

    .about-section .bio{
        width: 80%;
        text-align: left;
        margin: 2rem 0;
    }

    .about-section .contact-message{
        width: 80vw;
    }

}